---
---
@import "projectContainer.scss";

$headerHeight: 18vh;
$headerMinHeight: 72px;

@include projectContainer($containerHeight: $defaultHeight - $headerHeight );

body {
    background-color: white;
    margin: 0;

    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nameAndIcon {
    display: flex;
    align-items: center;

    min-height: $headerMinHeight;

    & img {
        width: 80px;
        margin-left: 12px;
    }
}

.projectDescription {
    text-align: center;
}

.minorNavElements {
    display: flex;
    align-items: center;

    & > a {
        color: #888;
        font-size: 18px;
        margin: 0 12px;
        cursor: pointer;

        &:hover {
            color: #666;
        }

    }
}

