<html>

<head>
    {% include styles.html %}
    <link rel="stylesheet" type="text/css" href="/css/projectPage.css">
</head>

<body>
    {% include header.html %}
    <div class="projectOverview">
        <div class="projectHeader">
            {{ page.title }}
        </div>
        <img class="projectSplash" src="{{ page.splash }}"></img>

        <div class="projectDescription">
            {{ page.content }}
        </div>
    </div>
    <div class="projectFooter">
        {% if page.githubUrl != nil and page.githubUrl != "" %}
            <a href="{{ page.githubUrl }}" class="githubLink fa fa-github">
            </a>
        {% endif %}
        {% if page.googlePlayUrl != nil and page.googlePlayUrl != "" %}
            <a href="{{ page.googlePlayUrl }}">
                <img src="/resources/images/google-play-badge.png"></img>
            </a>
        {% endif %}
        
    </div>
</body>

</html>