#centerAnchor
{
    max-width:1280px;
    min-width: 500px;
    margin:auto;
}

a:link
{
    color:#1a1a1;
}

a:visited
{
    color:#1a1a1;
}

body
{
    color:#1a1a1;
    font-size: 12pt;
    padding:0;
    margin:0;
    font-family: 'Lato', sans-serif;
}

#columnLayoutContainer
{
    margin-top:0px;
}

#leftColumn
{
    min-width: 100px;
    width:20%;
    float:left;
}

#rightColumn
{
    width:80%;
    float:left;
}

h1
{
    font-size: 16pt;
    font-weight:normal;
    margin-top:3px;
    margin-bottom:0px;
}

h2
{
    font-size: 14pt;
    font-weight: normal;
    margin-top:3px;
    margin-bottom:3px;
}

h3
{
    font-size: 12pt;
    font-weight: bold;
    margin-top:15px;
    margin-bottom:0px;
}

h3:first-of-type 
{
    margin-top:0px;
}

img
{
    margin:1px;
}

.contentSection
{
    margin-bottom:10px;
    width:100%;
}