body
{
    color: #1a1a1a;
    font-size: 12pt;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#centerAnchor
{
    max-width:1280px;
    min-width: 500px;
    padding: 0 7px 0 7px;
    margin:auto;
}

#headerContainer
{
    width: 100%;
    background: #3e216c; /* Old browsers */
    background: -moz-linear-gradient(top, #3e216c 0%, #582051 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3e216c 0%,#582051 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3e216c 0%,#582051 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e216c', endColorstr='#582051',GradientType=0 ); /* IE6-9 */
    margin-bottom: 12px;
}

#headerImage
{
    display: block;
    margin: 0 auto 0;
    padding: 10px 0 10px;
    max-width: 360px;;
}

a:link
{
    color: #e37222;
    text-decoration: none;
}

a:visited
{
    color: #e37222;
}

a:hover
{
    color: #e37222;
    text-decoration: underline;
}

#columnLayoutContainer
{
    margin-top:0px;
}

ul
{
    margin: 0 0 0 15px;
    padding: 0 0 0 15px;
}

#leftColumn
{
    min-width: 100px;
    width:20%;
    float:left;
}

#rightColumn
{
    width:80%;
    float:left;
}

.factLabel
{
    font-weight: 700;
}

.factLabel:not(:first-child)
{
    margin-top: 9px;
}

.sectionHeader
{
    font-weight: 700;
    font-family: 'Merriweather', serif;
    font-size: 19pt;
    margin-bottom: 8px;
}

.sectionHeader:not(:first-child)
{
    margin-top: 24px;
}

.demoImage 
{
    padding: 2px 2px 2px 2px;
}
