<html>
    <head>
        {% include styles.html %}
    </head>
    <body>
        
        <div class="container">
            <div class="project" style="background-color: green">
                <h1>Squatbot</h1>
            </div>
            <div class="project" style="background-color: blue">
                <h1>Duckling</h1>
            </div>
            <div class="project" style="background-color: purple">
                <h1>Ancona</h1>
            </div>
            <div class="project" style="background-color: orange">
                <h1>MOLT</h1>
            </div>
            <div class="project" style="background-color: red">
                <h1>Blog</h1>
            </div>
            <div class="project" style="background-color: orange">
                <h1>About</h1>
            </div>
        </div>
    </body>
</html>

