<html>

<head>
    {% include styles.html %}
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>

<body>
    {% include header.html %}
    <div class="content">
        <div class="projectList2">
            {% assign sortedPages = site.pages | sort:"order" %}
            {% for page in sortedPages %} 
                {% if page.layout == "projectPage" %}
                    <div class="projectTitle">
                        <a class="projectTitleLink" href="{{ page.url }}">{{ page.title }}</a>
                    </div>
                {% endif %} 
            {% endfor %}
        </div>
        <div class="ILDDescription">
            Sup sup sup, we're ILD Games
        </div>
    </div>
</body>

</html>