<html>

<head>
    {% include styles.html %}
    <link rel="stylesheet" type="text/css" href="/css/projectPage.css">
</head>

<body>
    {% include header.html %}
    <div class="contents">
        <div class="projectHeader">
            {{ page.title }}
        </div>
        <img class="projectSplash" src="{{ page.splash }}"></img>
        <div class="projectDescription">
            {{ page.content }}
        </div>
        {% if page.githubUrl != nil and page.githubUrl != "" %}
            <div class="githubContainer">
                <a href="{{ page.githubUrl }}" class="githubLink fa fa-github"></a>
            </div>
        {% endif %}
        {% if page.googlePlayUrl != nil and page.googlePlayUrl != "" %}
            <div class="downloadButtonContainer">
                <a class="downloadButton" href="#popup">
                    Download Now
                </a>
            </div>
            <div id="popup" class="downloadPopup">
                <div class="overlay"></div>
                <div class="popupBody">
                    <span>Available for early access:</span>
                    <a href="#" class="fa fa-window-close popupExitButton"></a>
                    <div class="badges">
                        <a href="{{ page.windowsBuildURL }}">
                            <img class="playBadge" src="/resources/images/windows-badge.png"></img>
                        </a>
                        
                        <a href="{{ page.googlePlayUrl }}">
                            <img class="playBadge" src="/resources/images/google-play-badge.png"></img>
                        </a>
                        
                        <a href="{{ page.macOSBuildURL }}">
                            <img class="playBadge" src="/resources/images/macOS-badge.png"></img>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</body>

</html>